* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #DBDBDB;
  overflow-y: auto;
}

.use {
  font-family: 'Exo 2', sans-serif;
}

.user {
  font-family: 'Inter', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 12vh;
  background-color: #eef0f2b3;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  border-bottom: 2.5px solid #E0E0E0;
}

nav .logo img {
  width: 11vw;
}

nav .menu {
  display: flex;
  gap: 9vw;
  align-items: space-between;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.2vw;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav a:hover {
  color: #6f6f6f;
}



.carousel-container {
  position: relative;
  width:100dvw;
  
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px 10px;
  cursor: grab;
  -ms-overflow-style: none; /* Hide scrollbar for IE */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari */
}

.arrows {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.arrow {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: darkgray;
}

.arrow:active {
  transform: scale(0.9);
}

/* Style when grabbing */
.carousel.grabbing {
  cursor: grabbing;
  scroll-behavior: auto;
}

.card {
  
  flex: 0 0 300px;
  height: 300px;
  scroll-snap-align: center;
  background: #fffaf2;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
  margin: 0 10px; /* Ensure spacing between cards */
  box-sizing: border-box;
}

.card-container {
  flex: 0 0 300px;
  height: 300px;
  scroll-snap-align: center;
  background: transparent; /* Make container transparent */
  color: transparent;
  font-size: 24px;
  text-align: center;
  line-height: 300px;
  border-radius: 15px;
  
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
  margin: 0 10px; /* Ensure spacing between cards */
  box-sizing: border-box;
}

.card.active {
  flex: 0 0 600px;
  height: 350px;
  transform: scale(1.1);
  z-index: 2;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.card:not(.active) {
  margin: 0 20px;
}
